<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brand List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            font-family: sans-serif;
        }
        th, td {
            padding: 10px;
            border: 1px solid #aaa;
            text-align: left;
        }
    </style>
</head>
<body>

<h2 style="text-align: center;">Управление брендами</h2>

<div style="text-align: center; margin-bottom: 10px;">
    <form th:action="@{/brands/search}" method="get">
        <label>
            <input type="text" name="keyword" placeholder="Поиск"/>
        </label>
        <button type="submit">Поиск</button>
    </form>
</div>

<div style="text-align: center; margin-bottom: 20px;">
    <a href="/brands/new" style="color: blue;"><strong>Добавить новый бренд</strong></a>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Тип</th>
        <th>Трансмиссия</th>
        <th>Объём двигателя, л</th>
        <th>Мощность двигателя, л.с.</th>
        <th>Число мест</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b : ${brands}">
        <td th:text="${b.id}"></td>
        <td th:text="${b.name}"></td>
        <td th:text="${b.type}"></td>
        <td th:text="${b.transmission.value}"></td>
        <td th:text="${b.engineVolume}"></td>
        <td th:text="${b.enginePower}"></td>
        <td th:text="${b.numOfSeats}"></td>
        <td>
            <a th:href="@{/brands/edit(id=${b.id})}" style="color: blue;">Редактировать</a>
            <span>|</span>
            <a th:href="@{/brands/delete(id=${b.id})}" style="color: blue;">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>