<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8"/>
  <title>Login</title>
</head>
<body>
<div th:if="${param.error}">
  Неверное имя пользователя или пароль
</div>
<form th:action="@{/auth/login}" method="post" th:object="${userAuthenticationDto}">
  <div>
    <label>Имя пользователя: <input type="text" th:field="*{username}"/></label>
  </div>
  <div>
    <label>Пароль: <input type="password" th:field="*{password}"/></label>
  </div>
  <div>
    <input type="submit" value="Войти"/>
  </div>
</form>
</body>
</html>