<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
<div th:fragment="list">
    <ul class="list-group">
        <li class="list-group-item"
            th:each="trip : ${trips}">
            <div class="form-check">
                <input type="checkbox" class="form-check-input trip-checkbox me-2" th:value="${trip.getId()}">
                <label class="form-check-label">
                    <div>
                        <strong>Начало:</strong>
                        <span class="beginTS" th:text="${trip.getBeginTS()}"></span>
                        (<span th:text="${trip.getBeginAddress()}"></span>)
                    </div>
                    <div>
                        <strong>Конец:</strong>
                        <span class="endTS" th:text="${trip.getEndTS()}"></span>
                        (<span th:text="${trip.getEndAddress()}"></span>)
                    </div>
                </label>
            </div>
        </li>
    </ul>
    <div th:if="${#lists.isEmpty(trips)}" class="alert alert-warning mt-2">
        Нет поездок в выбранном диапазоне.
    </div>

    <div class="mt-3">
        <button id="showOnMap" class="btn btn-primary">Показать поездки на карте</button>
    </div>
</div>
</body>
</html>
