name: Deploy app to server
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Build
        run: |
          mvn package -DskipTests
          ls -la
      - name: Get SSH key and set permissions
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa & chmod 600 ~/.ssh/id_rsa
      - name: Transfer jar, resources, Dockerfile and docker-compose.yaml to server using scp
        run: |
          scp -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa target/car_park-1.0-SNAPSHOT.jar ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:~/car_park
          scp -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa -r src/main/resources ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:~/car_park
          scp -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa Dockerfile ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:~/car_park
          scp -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa docker-compose.yaml ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:~/car_park
      - name: Connect to server, stop containers, delete container with app and run all containers
        run:
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "cd ~/car_park && docker compose down && docker rm backend-1 && docker rm backend-2 && docker rmi car_park && docker compose up --build"